* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/fondo.jpg");
}

.contenedor {
    background: rgba(43, 33, 40, 0.956);
    margin: 180px 25%;
    padding: 25px;
    color: #ffff;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
}

h1, label, input{
    margin: 25px;
}

button, input{
    padding: 10px;
}

button{
    background: rgb(44, 6, 44);
    color: white;
    font-size: 20px;
}

h3{
    color: pink;
}

